body{
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
    background: #f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form h1{
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 26px;
}
form{
    background: white;
    padding: 30px 25px;
    border-radius: 10px;
    width:340px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
.student-login{
     margin-bottom: 15px;
}
input{
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
    background: transparent;
}
input:focus{
    border-color: #333
}
button{
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: #fff;
    border: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2 ease-in-out;
    font-weight: bold;
    margin-top:10px;
}
button:hover{
    filter: brightness();
}
