<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="Leetcode.css">
</head>
<body>
    <div class="container">
        <h2>LEETCODE</h2>
        <button id="fetchBtn">Fetch Leetcode Data</button>
        <h2>Results</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Easy solved</th>
                <th>Medium solved</th>
                <th>Hard solved</th>
                <th>Total solved</th>
                <th>Rank</th>
                <th>Reputation</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
</body>
</html>
