body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 40px;
    margin: 0;
}
.container{
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px black;
}
h1{
    margin-bottom: 15px;
}
h2{
    margin-top: 30px;
}

button{
    padding: 10px 16px;
    background-color: #2d7ff9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
button:hover{
    background-color: #1b66d6;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}
th,td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th{
    background-color: #f0f0f0;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #fafafa;
}
