<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "https://youtu.be/erSLZwmWfYQ?si=OG7TQB_KaBp7bwov">
        <button>View figma Course</button>
    </a> <br></br>
    <a href = "https://youtu.be/erSLZwmWfYQ?si=OG7TQB_KaBp7bwov">
        <button>View Machine Learning Course</button>
    </a><br></br>
    <a href = "https://youtu.be/erSLZwmWfYQ?si=OG7TQB_KaBp7bwov">
        <button>View Photoshop Course</button>
    </a><br></br>
    <a href = "https://youtu.be/erSLZwmWfYQ?si=OG7TQB_KaBp7bwov">
        <button>View Digital Marketing Course</button>
    </a><br></br>
    <a href = "https://youtu.be/erSLZwmWfYQ?si=OG7TQB_KaBp7bwov">
        <button>View DSA Course</button>
    </a><br></br>

    <a>
        <button>Call Tablaue Api</button>
    </a>
</body>
</html>