<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method = "POST">
        <div class = "Student-Login">
            <input type = "Text" name = "username" class = "st-name" placeholder="Full Name" required >
        </div>
        <div class="Student-Login">
            <input type ="email" name="email" class ="st-email" placeholder="Email Address">
        </div>
        <div class="Student-Login">
            <input type ="password" name="pass" class ="st-pass" placeholder="Enter Password">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>